<div id="navigation" #navBar>
  <div class="title">
    <h1>{{ title }}</h1>
  </div>
  <div class="menu">
    <div class="menu-icon" (click)="onMenuIconClick()">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  </div>

  <div
    id="sidebar-container"
    (click)="onContainerClick($event)"
    *ngIf="showSideBar">
    <div id="sidebar" #sidebar>
      <div class="sidebar-header" *ngIf="user">
        <span>Welcome, {{user.firstName}}</span>
        <div class="profile-img" [routerLink]="['/account']">
          <img [src]="user.photoUrl" alt="User Photo">
        </div>
      </div>
<!--      <hr *ngIf="user" class="header-border">-->

      <div class="sidebar-options">
        <hr>
        <div class="option">
          <a [routerLink]="['/']">Home</a>
          <i class="fa fa-angle-right"></i>
        </div>
        <hr>
        <div class="option">
          <a [routerLink]="['/settings']">Settings</a>
          <i class="fa fa-angle-right"></i>
        </div>
        <hr>
        <div class="option">
          <a [routerLink]="['/contact']">Contact Us</a>
          <i class="fa fa-angle-right"></i>
        </div>
        <hr>
        <div class="option">
          <a [routerLink]="['/upgrade']" class="green-text">Upgrade</a>
          <i class="fa fa-angle-right"></i>
        </div>
        <hr>
      </div>

      <div class="social">
        <div class="social-row">
          <i class="fa fa-twitter"></i>
          <i class="fa fa-facebook"></i>
          <i class="fa fa-instagram"></i>
        </div>
        <div class="social-row">
          <i class="fa fa-phone"></i>
          <i class="fa fa-envelope-o"></i>
        </div>
      </div>

      <footer>
        <p>&copy; Really Good Software LLC 2020. All Rights Reserved.</p>
      </footer>
    </div>
  </div>
</div>
