<div id="navigation" #navBar>
  <div class="title">
    <h1>Muse</h1>
  </div>
  <div class="menu">
    <div class="menu-icon" (click)="onMenuIconClick()">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  </div>

  <div
    id="sidebar-container"
    (click)="onContainerClick($event)"
    *ngIf="showSideBar">
    <div id="sidebar" #sidebar>
      <div class="option">
        <a [routerLink]="['/']">Home</a>
      </div>
      <hr>
      <div class="option">
        <a [routerLink]="['/account']">Account</a>
      </div>
      <hr>
      <div class="option">
        <a [routerLink]="['/settings']">Settings</a>
      </div>
      <hr>
      <div class="option">
        <a [routerLink]="['/contact']">Contact Us</a>
      </div>
    </div>
  </div>
</div>
