<div id="home">
  <div class="filter"></div>
  <div class="hero">
    <div class="large-text">
      <h2>Add Video to Your Spotify Experience.</h2>
    </div>
    <div class="sub-text">
      <h5>Convert songs and playlists into music videos.</h5>
    </div>
  </div>
  <div class="button-container">
    <button class="learn-more" (click)="onLearnMoreClick()">
      LEARN MORE
    </button>
    <button class="sign-in" (click)="googleLogin()">
      SIGN IN WITH GOOGLE
    </button>
  </div>
</div>
