<div id="settings" class="padded-top padded-full-screen">
  <div class="settings-section">
    <div class="header">
      <h3>General</h3>
    </div>
    <hr class="header-break">
    <div class="option">
      <div class="option-elements">
        <span>Terms & Conditions</span>
        <i class="fa fa-angle-right"></i>
      </div>
      <hr>
    </div>
    <div class="option">
      <div class="option-elements">
        <span>Privacy Policy</span>
        <i class="fa fa-angle-right"></i>
      </div>
    </div>
  </div>
  <div class="settings-section">
    <div class="header">
      <h3>Connected Accounts</h3>
    </div>
    <hr>
    <div class="option">
      <div class="option-elements" (click)="onSpotifyConnect()">
        <span>{{this.user.spotifyId ? 'Disconnect Spotify' : 'Connect Spotify'}}</span>
        <i class="fa fa-angle-right"></i>
      </div>
      <hr>
    </div>
    <div class="option">
      <div class="option-elements">
        <span>Connect YouTube</span>
        <i class="fa fa-angle-right"></i>
      </div>
    </div>
  </div>
</div>
